<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" style="font-family: 'Patrick Hand SC', cursive;" href="/urls">
      <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      TinyApp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/urls"><i class="fas fa-list"></i> My URLs</a>
        <a class="nav-item nav-link" href="/urls/new"><i class="fas fa-plus-square"></i> Create New URL</a>
      </div>
      <% if (locals.user) { %>

        <span class="ext-capitalize text-light">Welcome <%- user.email %>!&nbsp;</span>
        <form class="form-inline" method="POST" action="/logout">
          <button class=" btn btn-light my-2 my-sm-0" type="submit"><i class="fas fa-sign-out-alt"></i>
            Logout</button>
        </form>

        <%} else { %>
          <a href="/login" class=" btn btn-light mr-1" role="button"><i class="fas fa-sign-in-alt"></i> Login</a>
          <a href="/register" class=" btn btn-light " role="button"><i class="fas fa-user-plus"></i> Register</a>
          <% } %>


    </div>
  </nav>
</header>