<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head',{title:'Forbidden'}) %>


  <body>
    <%- include ('partials/_header') %>
      <div style="min-height: 90%; min-height: 90vh; display: flex;align-items: center;">

        <div class="container align-middle col-sm-11 col-md-6">
          <div class="bg-light p-5 rounded text-center">
            <img src="/sad.png" />

            <h1>403</h1>
            <p class="lead"> Forbidden</p>
            <p>You can't see your urls or create new ones unless you're registered and logged in</p>
            <a href="/login" class=" btn btn-success mr-1" role="button"><i class="fas fa-sign-in-alt"></i>
              Login</a>
            <a href="/register" class=" btn btn-success" role="button"><i class="fas fa-user-plus"></i>
              Register</a>

          </div>
        </div>

      </div>


      <%- include('partials/_bootstrap_js') %>

  </body>

</html>