<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head',{title:'Page Not Found'}) %>


  <body>
    <%- include ('partials/_header') %>
      <div style="min-height: 90%; min-height: 90vh; display: flex;align-items: center;">

        <div class="container align-middle col-6">
          <div class="bg-light p-5 rounded text-center">
            <img src="/404.png" />

            <h1>403</h1>
            <p class="lead"> Forbidden</p>
            <p>You can't see your urls or create new ones unless you're registered and logged in</p>
            <p> <a href="/register">Create</a> an account, or <a href="/login">login</a> to your account if you already
              have one. </p>


          </div>
        </div>

      </div>


      <%- include('partials/_bootstrap_js') %>

  </body>

</html>