<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head',{title:'Page Not Found'}) %>


  <body>
    <%- include ('partials/_header') %>
      <div style="min-height: 90%; min-height: 90vh; display: flex;align-items: center;">

        <div class="container align-middle col-6 p-5">
          <div class="bg-light p-5 rounded text-center">
            <img src="/404.png" />

            <h1>403</h1>
            <p class="lead"> Forbidden</p>
            <p>You Don't have permission to acess this resource.</p>



          </div>
        </div>

      </div>


      <%- include('partials/_bootstrap_js') %>

  </body>

</html>